body {
  background-color: rgb(25, 127, 161);
}

#clockContainer {
  position: relative;
  margin: auto;
  height: 20vw;
  /*to make the height and width responsive*/
  width: 20vw;
  background: url(1.jpg) no-repeat;
  /*setting our background image*/
  background-size: 100%;
}

#hour,
#minute,
#second {
  position: absolute;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
  background-color: rgb(14, 108, 63);
}

#minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
  background-color: rgb(80, 7, 7);
}

#second {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
  background-color: brown;
}

.audio {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 80vw;
  /*to make the height and width responsive*/
  width: 40vw;
}

/* This is a single-line comment */

.center {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: 3px solid #3b21ad;
  padding: 10px;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

label {
  font-size: 28px;
}

#party {
  font-size: 28px;
  color: #0320fc;
}

form {
  margin: 0 auto;
  width: 800px;
  background-color: aquamarine;
}

#alarmTime {
  font-size: 25px;
  border-radius: 30px;
  background-color: coral;
  color: rgb(4, 59, 21);
  width: 200px;
  height: 40px;
}

#alarmButton {
  font-size: 25px;
  background-color: rgb(77, 190, 77);
  border-radius: 20px;
  height: 50px;
  width: 200px;

}

.set {
  position: relative;
  bottom: 300px;
  left: 30px;
}

.dot {
  position: relative;
  width: 40%;
  left: 59%;
  bottom: 300px;
  z-index: -1;
  /* background-color: beige;*/

}